.alert {
    font-size: 24px;
    font-weight: 500;}
.succes {
    color: green;
}
.warning {
    color: orange;
}
.error {
    color: red;
}
#special {font-size: smaller;}
.social-links a {
    color: greenyellow;
    text-decoration: none;
}
.menu > li {
    border: 1px solid tomato;
}
a[title] {
    color: deeppink;
}
a[href="https://htmlreference.io"] {
    color: teal;
}
