.alert {
    font-size: 24px;
    font-weight: 500;}
.succes {
    color: green;
}
.warning {
    color: orange;
}
.error {
    color: red;
}
#special {font-size: smaller;}
.social-links a {
    color: greenyellow;
    text-decoration: none;
}
.menu > li {
    border: 1px solid tomato;
}
a[title] {
    color: deeppink;
}
a[href="https://htmlreference.io"] {
    color: teal;
}
.link {
    color: seagreen;
}

.link:hover {
    color: plum;
}
.social-links .link {
    color: lawngreen;
}

.social-links .link:hover,
.social-links .link:focus {
    color: indigo;
}
.social-links .link:active {
    color: maroon;
}
.social-links .link:visited {
    color: mediumspringgreen;
}
.text {
    background-color: mediumslateblue;
    color: white;
}
.site-nav .link {
    text-transform: uppercase;
}
pre {
    font-family: 'Arial', 'Helvetica', sans-serif;
    color: #2a2a2a;
    font-size: 16px;
}

.pre::first-letter {
    font-family: 'Tahoma', serif;
    font-size: 32px;
    color: #20e562df;
}
.pre::selection {
    color: crimson;
    background-color: cornflowerblue;
}